.App {
  text-align: center;
}

.fast-fingers {
  font-size: 70px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ff5155;
}
@media only screen and (max-width: 600px) {
  .fast-fingers {
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ff5155;
  }
}
.Icon-awesome-keyboard {
  width: 300px;
}
@media only screen and (max-width: 600px) {
  .Icon-awesome-keyboard {
    width: 100px;
  }
}
.the-ultimate-typing-game {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 600px) {
  .the-ultimate-typing-game {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ff5155;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.Line-1 {
  width: 125.6px;
  height: 0;
  border: solid 2px #ff5155;
}
@media only screen and (max-width: 600px) {
  .Line-1 {
    width: 50.6px;
    height: 0;
    border: solid 2px #ff5155;
  }
}

.Rectangle-2 {
  width: 600px;
  height: 80px;
  opacity: 0.59;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #032228;
}
@media only screen and (max-width: 600px) {
  .Rectangle-2 {
    width: 300px;
    height: 50px;
    opacity: 0.59;
    border-radius: 15px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #032228;
  }
}
.Rectangle-5 {
  width: 600px;
  height: 80px;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  border: solid 1px #ffffff;
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  background-color: transparent;
  color: #97a5a7;
}
@media only screen and (max-width: 600px) {
  .Rectangle-5 {
    width: 300px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
    border: solid 1px #ffffff;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    background-color: transparent;
    color: #97a5a7;
  }
}
.start-game {
  width: 320px;
  height: 36px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  display: inline;
  margin-top: 30px;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .start-game {
    height: 40px;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    margin-top: 28px;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ff5155;
    cursor: pointer;
  }
}
.stop-game {
  width: 320px;
  height: 65px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .stop-game {
    height: 44px;
    display: flex;
    align-items: center;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ff5155;
    cursor: pointer;
  }
}
.Icon-awesome-play {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.player_name_777 {
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .player_name_777 {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ff5155;
    text-transform: uppercase;
  }
}
.Icon-material-person {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-right: 20px;
  margin-top: 5px;
}
@media only screen and (max-width: 600px) {
  .Icon-material-person {
    width: 10px;
    height: 10px;
    object-fit: contain;
    margin-right: 20px;
    margin-top: 5px;
  }
}
.fast-fingers-title {
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
}
.SCORE-0030 {
  width: 291px;
  height: 40px;

  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
}
.Rectangle-10 {
  width: 346px;
  height: 500px;
  border-radius: 15px;
  border: solid 3px #ff5155;
}
.SCORE-BOARD {
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ff5155;
}
.Game-1-114 {
  width: 198px;
  height: 25px;

  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.PERSONAL-BEST {
  width: 91px;
  height: 10px;
  font-family: Gotham;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
}

.window {
  height: 80px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-size: 80px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .window {
    height: 50px;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
}
.window-correct {
  color: #54ba18;
}
.Rectangle-9 {
  width: 600px;
  height: 80px;
  opacity: 0.59;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .Rectangle-9 {
    width: 300px;
    height: 50px;
    opacity: 0.59;
    border-radius: 15px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
  }
}
.timer {
  width: 111px;
  height: 57px;

  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.quit {
  width: 100px;
  height: 40px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);

  font-size: 44px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .quit {
    width: 112px;
    height: 30px;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);

    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ff5155;
    cursor: pointer;
  }
}
.SCORE-GAME-5 {
  width: 550px;
  height: 60px;

  font-size: 60px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .SCORE-GAME-5 {
    width: 500px;
    height: 40px;

    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}
.final-score {
  width: 230px;
  height: 118px;

  font-size: 100px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .final-score {
    width: 230px;
    height: 170px;

    font-size: 70px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}
.New-High-Score {
  width: 383px;
  height: 50px;

  font-size: 53px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .New-High-Score {
    width: 300px;
    height: 35px;

    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}
.Icon-open-reload {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .Icon-open-reload {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-top: 10px;
  }
}
.PLAY-AGAIN {
  width: 313px;
  height: 50px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  margin-left: 20px;
  font-size: 54px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .PLAY-AGAIN {
    width: 300px;
    height: 34px;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    margin-left: 20px;
    font-size: 34px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ff5155;
    cursor: pointer;
  }
}
.time {
  width: 111px;
  height: 50px;

  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.backgroundGradient {
  background-size: cover;
  background-image: linear-gradient(to bottom, #063c47, #000000);
  height: 100vh;
}

.backgroundPattern {
  position: relative;
  z-index: 1;
  overflow: hidden; /*if you want to crop the image*/
}

.backgroundPattern:before {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  content: url('/img/group-243.png');
  opacity: 0.05;
}
